.expense-container {
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin: 10px;
    /* background-color: rgb(255 255 255 / 49%); */
    height: 100%;
}

input {
    padding: 10px;
    border-radius: 8px;
    border-width: 0px;
    font-size: 17px;
    margin-right: 10px;
    border: 1px solid black;
}

button {
    width: 80px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: red;
    color: white;
}
#delete-btn{
    background-color: blue;
    color: white;
}

#delete-btn:hover {
    background-color: yellow;
    color: black;
}

h2{
    color: red;
    font-weight: 600;
}

li{
    font-size: 20px;
    color: white;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}